# This file contains pin mappings for BIGTREETECH SKR mini
# E3 v3.0. To use this config, during "make menuconfig" select the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_13002F000550415339373620-if00
#restart_method: command

# See docs/Config_Reference.md for a description of parameters.
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0

# NOTE: Real bed size is still 235, increase position_max
# to allow using screw tilt (probe ON screw, but hotent OVER board)
position_max: 225
position_min: 0
position_endstop: 0

homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 0

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 200
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
# "0.85" from manual but.. yeah creality likes their
# theirs motors hotter than sun
run_current: 0.580
stealthchop_threshold: 0

# belt config
[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 200
# default hard switches
# endstop_pin: ^PC2
# position_endstop: 0.0
# probe
endstop_pin: probe:z_virtual_endstop
position_max: 250
# for calibrating probe allow going "under" 0
position_min: -2

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
# 0.580
run_current: 0.4
stealthchop_threshold: 0

[extruder]
# Oribiter v2.0
step_pin: ebb36: PD0
dir_pin: ebb36: PD1
enable_pin: !ebb36: PD2

microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
max_extrude_only_distance: 500
max_extrude_only_velocity: 120


# TODO: proper values, copied from manual (0.0.25)
pressure_advance: 0.059
pressure_advance_smooth_time: 0.03

nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ebb36: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: ebb36: PA3

# 220 (fan 100%)
control: pid
pid_Kp=15.420
pid_Ki=1.269
pid_Kd=46.838

# 230

# 240

min_temp: 0
max_temp: 260


[tmc2209 extruder]
uart_pin: ebb36: PA15
# 0.85 from manual (RMS -> PEAK 1.2, TMC2209 is 1.2 MAX)
run_current: 0.6
stealthchop_threshold: 0
interpolate: true
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid

# tuned for flexible pei with 60 degree Celsius target and insulation
pid_Kp=67.957
pid_Ki=0.800
pid_Kd=1442.383

min_temp: 0
max_temp: 130

[fan]
# FAN0
pin: ebb36: PART_FAN
# at 5 it starts spinning, +1 just to be sure
off_below: 0.05
kick_start_time: 0.5

[heater_fan heatbreak_cooling_fan]
pin: ebb36: EXTRUDER_FAN
fan_speed: 0.8

[fan_generic controller_fan]
# FAN2
# This is fan connected to motherboard
pin: PB15
# limit max pwm to 50%, because fan is 12V
max_power: 0.5

[delayed_gcode enable_controller_fan]
# 0 means NEVER
initial_duration: 1
gcode:
    SET_FAN_SPEED FAN=controller_fan SPEED=1.0

# crtouch but shall do the trick
[bltouch]
sensor_pin: ^ebb36:PB8
control_pin: ebb36:PB9

# LEFT side stealthburner and shitty probe mount
x_offset: -45.7
y_offset: 0
# HIGHER: -> LOWER TO BED
# LOWER: -> HIGHER TO BED
z_offset: 1.400

[bed_mesh]
speed: 120
horizontal_move_z: 5
# TODO: measure between screws
# screw1: 70, 26
# screw2: 241, 26
# screw3: 241, 197
# screw4: 70, 197
# but don't go to VERY EDGE OF BED
mesh_min: 50.5, 30
mesh_max: 190, 200

# could be 0, but no one print on edge...
# 5 co we don't hit clip
# probe on LEFT
#mesh_min: 10, 10
#mesh_max: 185, 205
# probe on RIGHT
#mesh_min: 47.5, 15
#mesh_max: 225, 207
probe_count: 9,9
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
# select back left as base, becase of
# cable holder preventing "more" squish so it's
# just hanging at the edge of screw length
screw1: 0, 183
screw1_name: Back left

# The problem is... probe is never directly above LEFT screws
screw2: 0, 13
screw2_name: Front left

screw3: 160, 13
screw3_name: Front right

screw4: 160, 183
screw4_name: Back right

screw_thread: CW-M4
horizontal_move_z: 10

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>
aliases_fans:
    EXTRUDER_FAN=PC7, PART_FAN=PC6

[temperature_sensor mainboard]
sensor_type: temperature_mcu

[mcu ebb36]
canbus_uuid: 1fcb64d7e5ee

[temperature_sensor ebb36]
sensor_type: temperature_mcu
sensor_mcu: ebb36

[board_pins EBB36_G0B1_v1.2]
mcu: ebb36
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    EXTRUDER_FAN=PA1,PART_FAN=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PA2
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4