# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[force_move]
enable_force_move: True

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
# NOTE: Real bed size is still 235, increase position_max
# to allow using screw tilt (probe ON screw, but hotent OVER board)
position_max: 241
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

# belt config
[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 200
# default hard switches
# endstop_pin: ^PA7
# position_endstop: 0.0
# probe
endstop_pin: probe:z_virtual_endstop
position_max: 250
# for calibrating probe allow going "under" 0
position_min: 0

[extruder]
step_pin: PB4
enable_pin: !PC3

# Oribiter v2.0
dir_pin: !PB3
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
max_extrude_only_distance: 500
max_extrude_only_velocity: 120


# TODO: proper values, copied from manual (0.0.25)
pressure_advance: 0.059
pressure_advance_smooth_time: 0.03

nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for petsfang 'microswiss' 200C sunon fan
pid_Kp=23.086
pid_Ki=1.221
pid_Kd=109.081

min_temp: 0
max_temp: 260

# for test throw away limits
# max_extrude_cross_section: 50
# max_extrude_only_distance: 1000

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid

# tuned for flexible pei with 60 degree Celsius target
pid_Kp: 70.423
pid_Ki: 1.039
pid_Kd: 1193.678

min_temp: 0
max_temp: 130

[fan]
pin: PA0
# at 5 it starts spinning, +1 just to be sure
off_below: 0.06

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
#restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1900
#max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# crtouch but shall do the trick
[bltouch]
sensor_pin: ^PB1
control_pin: PB0

# LEFT side (HMG6)
x_offset: -38
y_offset: 6
# HIGHER: -> LOWER TO BED
# LOWER: -> HIGHER TO BED
z_offset: 2.120

[safe_z_home]
home_xy_position: 117.5,117.5
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
# TODO: measure between screws
# screw1: 70, 26
# screw2: 241, 26
# screw3: 241, 197
# screw4: 70, 197
mesh_min: 32, 32
mesh_max: 203, 203

# could be 0, but no one print on edge...
# 5 co we don't hit clip
# probe on LEFT
#mesh_min: 10, 10
#mesh_max: 185, 205
# probe on RIGHT
#mesh_min: 47.5, 15
#mesh_max: 225, 207
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[mcu host]
serial: /tmp/klipper_host_mcu

[output_pin screen]
pin: host:gpiochip0/gpio18

[output_pin BEEPER_pin]
pin: host:gpiochip0/gpio17
#   Beeper pin. This parameter must be provided.
#   ar37 is the default RAMPS/MKS pin.
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

#[adxl345 hotend]
#cs_pin: host:None #host:gpiochip0/gpio8
#spi_bus: spidev0.0
#axes_map: -x, -y, z

#[adxl345 bed]
#spi_bus: spidev0.0
#cs_pin: host:None
#axes_map: x, y, z

#[resonance_tester]
#accel_chip_x: adxl345 bed
#accel_chip_y: adxl345 bed
#probe_points:
#    117.5, 117.5, 20 

# TODO: shape for X
# TODO: shape for Y

#[input_shaper]
#shaper_freq_x: ?
#shaper_type_x: ?
#shaper_freq_y: ?
#shaper_type_y: ?

[firmware_retraction]
retract_length: 0.75
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 25
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 25
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[bed_screws]
# front left
screw1: 32, 32
#front right
screw2: 203, 32
#back left
screw3: 32, 203
#back right
screw4: 203, 203

[screws_tilt_adjust]
screw1: 71, 34
screw1_name: Front left
screw2: 241, 34
screw2_name: Front right
screw3: 241, 204
screw3_name: Back right
screw4: 71, 204
screw4_name: Back left
screw_thread: CW-M4
horizontal_move_z: 10
